*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: white;
}

.inner_header{
    width:1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    width: 135px;
    height: auto;
    display: table;
    float: left;
}

img {
    width: 60%;
    height:80%;
    display: table-cell;
    vertical-align: middle;
    margin-top: 10px;
}

.navigation{
    float: left;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 50px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 16px;
    color: black;
}


