nav {
    background:#461212;
    overflow: auto;
    color: white;
    height: 50px;
}

.search-form {
text-align: center;
}

.search-form input[type=text] {
padding: 7px;
border: none;
width: 500px;
border-radius: 50px;
font-size: 16px;
font-family: sans-serif;
margin-top: 7px;
}

.search-form button {
padding: 7px;
border: none;
border-radius: 50px;
font-size: 16px;
font-family: sans-serif; 
}