<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SemiGroumoa">
        <wb-resource deploy-path="/" source-path="/web" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="groumoa"/>
        <property name="java-output-path" value="/SemiGroumoa/web/WEB-INF/classes"/>
    </wb-module>
</project-modules>
